<!DOCTYPE html>
<html lang="en" ng-app="rsFlashApp">
<head>
    <meta charset="UTF-8">
    <title>rsFlash</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    
    <section class="container" ng-controller="RsFlashCtrl as vm">
        <h1 class="jumbotron">rs-flash, the best notification system that ever was and ever will be.</h1>

        <rs-flash></rs-flash>

        <button ng-click="vm.show()" class="btn btn-primary">Show</button>
        <button ng-click="vm.hide()" class="btn btn-primary">hide</button>
        <label for="type">Type</label>
        <select name="type" id="type" ng-model="vm.type">
            <option value="success">Success</option>
            <option value="info">Info</option>
            <option value="warning">Warning</option>
            <option value="danger">Danger</option>
        </select>
    </section>

    <script src="bower_components/angular/angular.js"></script>
    <script src="rs-flash.js"></script>
    <script>
    (function() {
        angular
            .module('rsFlashApp', ['rs-flash'])
            .controller('RsFlashCtrl', RsFlashCtrl)
            .config(function($rsFlashProvider) {
                $rsFlashProvider.setTypes({
                    super: "super-warning"
                });
                $rsFlashProvider.config.timeout = null;
                //Will do animation and things.
                $rsFlashProvider.config.static = true;
            });


        function RsFlashCtrl($rsFlash) {
            var vm = this;

            vm.show = show;
            vm.hide = hide;
            vm.type = "success";

            ///////////////

            function show() {
                $rsFlash.create('Hello! from rsFlash',"alert-" + vm.type);
            }
            function hide() {
                $rsFlash.clear();
            }
        }

    })();
    </script>
    <style>
        .rs-flash {
            position: relative;
            top: 0;
            -webkit-transition: top 1s;

        }
        .rs-flash-out {
            top: -55px;
        }
        .rs-flash-in {
            top: 0;
        }
    </style>
</body>
</html>